@media (max-width:1200px){
    .main, .wrapper_ftr {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:1024px){
    .card_service_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        flex-wrap: wrap;
    }

    .main{
        padding-left: 20px;
        padding-right: 20px;
    }

    .left h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 140%;
        color: #000000;
        width: auto;
        margin-top: 52px;
    }

    .right img{
        width: 470px;
    }

    .left h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 140%;
        color: #000000;
        width: 450px;
        margin-top: 52px;
    }

    .inputs_wrapper input {
        border: 1px solid #656565;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        outline: none;
        margin-bottom: 20px;
    }

    .btn_cont {
        border: 2px solid #02C450;
        border-radius: 10px;
        width: 100%;
        padding: 15px 30px;
        text-align: center;
        cursor: pointer;
    }

    .right{
        width: 100%;
    }

    .right iframe{
        width: 100%;
        display: block;
    }

    .cnt_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 68px;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 56px;
    }

    .menu_ftr_wrapper {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        width: 100%;
    }

    .container_footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
    }
}

@media (max-width:820px){
    .title_hero {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 72px;
        letter-spacing: -0.02em;
        color: #FFF7F7;
        width: 584px;
    }

    .card_srv {
        background: #FFFFFF;
        box-shadow: 10px 24px 54px rgb(0 0 0 / 6%);
        border-radius: 10px;
        width: 340px;
        padding: 19px;
        margin-bottom: 25px;
    }

    .about_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 58px;
        flex-wrap: wrap-reverse;
        align-self: center;
    }

    .right{
        width: 100%;
    }

    .right img{
        width: 100%;
        height: 550px;
    }

    .left h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 140%;
        color: #000000;
        width: auto;
    }

    .inputs_wrapper input {
        border: 1px solid #656565;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        outline: none;
        margin-bottom: 20px;
    }

    .menu_ftr_wrapper {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width:720px){
    .card_srv {
        background: #FFFFFF;
        box-shadow: 10px 24px 54px rgb(0 0 0 / 6%);
        border-radius: 10px;
        width: 314px;
        padding: 19px;
        margin-bottom: 25px;
    }

    .card_prg {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        color: #636262;
        margin-top: 12px;
        width: 250px;
    }

    .price_card p {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 21px;
        color: #02C450;
        margin-top: 40px;
    }

    .card_revies {
        background: #FFFFFF;
        border: 1.2px solid #DDDDDD;
        border-radius: 28px;
        width: 100%;
        padding: 24px;
        margin-bottom: 10px;
    }

    .about_revies {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: rgba(18, 18, 18, 0.6);
        width: auto;
    }
}


@media(max-width:460px){
    .title_hero {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 228%;
        color: #FFF7F7;
        width: auto;
    }

    .prg_title_hero {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #FFF7F7;
        width: auto;
        margin-top: 20px;
    }

    .logo img{
        width: 160px;
    }

    .card_srv {
        background: #FFFFFF;
        box-shadow: 10px 24px 54px rgb(0 0 0 / 6%);
        border-radius: 10px;
        width: 100%;
        padding: 19px;
        margin-bottom: 25px;
    }

    .cont_title {
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 72px;
        letter-spacing: -0.02em;
        color: #02C450;
    }

    .right img {
        width: 100%;
        height: auto;
    }

    .left h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: #000000;
    }

    .btn_about a {
        background: #02C450;
        box-shadow: 0px 1px 2px rgb(105 81 255 / 5%);
        border-radius: 6px;
        padding: 14px 61px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #F0FDF4;
        display: block;
        text-align: center;
    }

    .cont_photo img{
        width: 100%;
    }

    .politic p {
        width: auto;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.007em;
        color: #656565;
        margin-top: 33px;
    }

    .menu_ftr_wrapper {
        display: block;
        padding: 25px 0;
    }

    .right_menu_ftr{
        margin-top: 61px;
    }

    .mao_ftr{
        margin-top: 61px;
    }

    .map_footer_ img{
        width: 100%;
    }
}

@media(max-width:430px){
    .left h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #000000;
    }

    .ftr_ftr {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #FFFFFF;
        width: 371px;
        margin-top: 29px;
    }
}

@media(max-width:390px){
    .prg_title_hero {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #FFF7F7;
        width: 300px;
        margin-top: 20px;
    }

    .title_hero {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 27px;
        line-height: 228%;
        color: #FFF7F7;
        width: auto;
    }

    .card_srv {
        background: #FFFFFF;
        box-shadow: 10px 24px 54px rgb(0 0 0 / 6%);
        border-radius: 10px;
        width: 100%;
        padding: 19px;
        margin-bottom: 25px;
    }

    .left h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #000000;
    }

    .copyrght {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #FFF7F7;
    }

    .politic_ftr {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #FFF7F7;
    }

    .ftr_ftr {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        width: auto;
        margin-top: 29px;
    }

}

@media (max-width:320px){
    .logo img {
        width: 120px;
    }

    .prg_title_hero {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #FFF7F7;
        width: auto;
        margin-top: 20px;
    }

    .map_footer_ iframe{
        width: 100%;
    }

    .politic_footer {
        margin-top: 26px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}